.app-login {
    min-width: 480px;
    .logo {
        max-width: 150px;
        margin: 0 auto;
    }

    .btn-login {
        @apply w-full mb-2 shadow p-2 rounded appearance-none;

        .btn-logo {
            @apply mr-2;
            height: 30px;
            width: auto;
            display: none;
        }

        &.is-google {
            .logo-google {
                display: block;
            }
        }

        &.is-line {
            .logo-line {
                display: block;
            }
        }

        &.is-microsoft {
            .logo-microsoft {
                display: block;
            }
        }

        &.is-apple {
            .logo-apple {
                display: block;
            }
        }

        &.is-facebook {
            .logo-facebook {
                display: block;
            }
        }
    }
}
