<app-page-header [title]="data?.name">
    <ng-container action>
    </ng-container>
</app-page-header>
<div pageBody>
    <div class="app-tab">
        <mat-tab-group [selectedIndex]="selectedTab" disableRipple animationDuration="0ms"
            (selectedTabChange)="selectedTabChange($event)">
            <mat-tab label="stats">
                <ng-template mat-tab-label>
                    <span>Stats</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="users">
                <ng-template mat-tab-label>
                    <span>Users</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="roles">
                <ng-template mat-tab-label>
                    <span>Roles</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="clients">
                <ng-template mat-tab-label>
                    <span>Clients</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="setting">
                <ng-template mat-tab-label>
                    <span>Setting</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="py-4">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>