<div class="flex items-center px-2 py-4 mb-2">
    <div class="flex-1 min-w-0 flex items-center">
        <div class="font-medium mb-0 text-gray-700 text-xl sm:truncate block">
            {{title}}
        </div>
        <div class="h-6 border-l border-gray-300 mx-4" *ngIf="breadcrumb && breadcrumb.length"></div>
        <ul class="flex text-gray-500 text-sm lg:text-base" *ngIf="breadcrumb && breadcrumb.length">
            <li class="inline-flex items-center  text-sm">
                <a href="/">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                </a>
            </li>
            <li *ngFor="let item of breadcrumb" class="inline-flex items-center text-sm">
                <div class="w-1 h-1 bg-gray-500 rounded-full mx-2"></div>
                <a [routerLink]="item.link">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <ng-content select="[action]"></ng-content>
    </div>
</div>