.sidebar-container {
    @apply overflow-auto w-full shadow-xl block bg-white border-none;
    // background-color: var(--toolbar-background);
    width: var(--sidebar-width);

    .sidebar {
        width: var(--sidebar-width);
        height: 100vh;
        height: -webkit-fill-available;
    }
}
