<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body data-barba="wrapper">
    <div class="w-full py-8 h-auto md:h-screen bg-gray-200 flex justify-center items-center overflow-auto">
        <div class="flex justify-center items-center mx-auto h-full">
            <div class="flex flex-col justify-center items-center h-full app-login ">
                <div class="w-full text-center mb-8">
                    <img src="/assets/images/rushlap-logo-horizontal.png" class="logo" />
                </div>
                <div class="flex justify-center items-center w-full" data-barba="container" data-barba-namespace="home">
                    <div class="max-w-sm w-full rounded-lg overflow-hidden p-10 mb-10 bg-white shadow">
                        <div class="mb-8 text-center">
                            <div class="text-gray-600 text-sm mb-1">
                                Log in to continue to:</div>
                            <div class="text-gray-700 font-bold">
                                {{message}}</div>
                        </div>

                        <div class="flex items-center justify-between w-full">
                            <a href=""
                                class="bg-orange-500 appearance-none shadow w-full text-center hover:bg-orange-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">
                                Accept
                            </a>
                        </div>

                    </div>
                </div>
                <div class="footer text-center w-full">
                    <div class="text-gray-600 text-sm">power by <i class="font-bold">rushlab.dev</i></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        barba.init({
        })
    </script>
</body>

</html>