<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body data-barba="wrapper">
    <div class="w-full py-8 h-auto md:h-screen bg-gray-200 flex justify-center items-center overflow-auto"
        x-data="data()">
        <div class="flex justify-center items-center mx-auto h-full">
            <div class="flex flex-col justify-center items-center h-full app-login ">
                <div class="w-full text-center mb-8">
                    <img src="/assets/images/rush-authen-full-logo.png" class="logo" />
                </div>
                <div class="flex justify-center items-center w-full" data-barba="container"
                    data-barba-namespace="content">
                    <div class="max-w-sm w-full rounded-lg overflow-hidden p-10 mb-10 bg-white shadow">
                        <div class="mb-8 text-center">
                            <div class="text-gray-600 text-sm mb-1">
                                Log in to continue to:</div>
                            <div class="text-gray-700 font-bold">
                                {{project}}</div>
                        </div>

                        <form action="/auth/{{uid}}/login" method="POST">
                            <div x-show="error" class="text-white bg-red-500 py-2 px-2 text-center rounded w-full mb-4"
                                x-text="error"></div>
                            <div class="mb-3">
                                <input class="input" name="username" type="text" placeholder="Username">
                            </div>
                            <div class="mb-4">
                                <input class="input" name="password" type="password" placeholder="Password">
                            </div>
                            <div class="flex items-center justify-between w-full">
                                <button
                                    class="bg-orange-500 appearance-none shadow w-full hover:bg-orange-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">
                                    Sign In
                                </button>
                            </div>
                        </form>

                        <div class="my-6 text-xs font-bold text-center text-gray-500">OR</div>
                        <div class="mb-6 pb-6 border-b border-gray-200">
                            <template x-for="(provider, index) in providers" :key="index">
                                <button class="btn-login" :class="{
                                        'btn-login is-google': provider.method === 'google', 
                                        'btn-login is-line': provider.method === 'line', 
                                        'btn-login is-apple': provider.method === 'apple', 
                                        'btn-login is-microsoft': provider.method === 'microsoft', 
                                        'btn-login is-facebook': provider.method === 'facebook'
                                    }" type="button">
                                    <div class="flex items-center">
                                        <img src="/assets/images/logos/google.svg" class="btn-logo logo-google" />
                                        <img src="/assets/images/logos/line.png" class="btn-logo logo-line" />
                                        <img src="/assets/images/logos/microsoft.svg" class="btn-logo logo-microsoft" />
                                        <div class="flex-grow text-sm text-gray-600">Signin with <span
                                                x-text="provider.name"></span></div>
                                    </div>
                                </button>
                            </template>

                        </div>
                        <div class="text-center flex items-center justify-center">
                            <a class="text-blue-700 text-sm" href="">Can't log in?</a>
                            <div class="text-gray-300 mx-4">|</div>
                            <a class="text-blue-700 text-sm" href="/register">Sign up for an account</a>
                        </div>
                    </div>
                </div>
                <div class="footer text-center w-full">
                    <div class="text-gray-600 text-sm">power by <i class="font-bold">rushlab.dev</i></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        barba.init({
        })

        // Error Handler
        function getError() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('error');
        }

        function getErrorMessage(error: string) {
            switch (error) {
                case 'invalid':
                    return 'Username/Password is incorrect';
                default:
                    return 'Username/Password is incorrect';
            }
        }

        function data() {
            const error = getError()
            return {
                error: error ? getErrorMessage(error) : null,
                providers: JSON.parse(`{{{providers}}}`)
            }
        }
    </script>

    <script src="js/login.js"></script>
</body>

</html>