<!doctype html>
<html>

<head>
    <title>Page title</title>
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body>
    <div class="w-full py-8 h-auto md:h-screen bg-white flex justify-center items-center overflow-auto"
        data-barba="wrapper">
        <div class="flex bg-white justify-center items-center mx-auto h-full">
            <div class="flex flex-col justify-center items-center h-full app-login">
                <div class="w-full text-center mb-8">
                    <img src="/assets/images/rushlap-logo-horizontal.png" class="logo" />
                </div>
                <div class="flex justify-center items-center w-full" data-barba="container"
                    data-barba-namespace="register">
                    <div class="max-w-sm w-full rounded-lg overflow-hidden shadow-md p-10 mb-10">
                        <div class="mb-8 text-center">
                            <div class="text-gray-600 text-sm mb-1">
                                Register</div>
                            <div class="text-gray-700 font-bold">
                                {{message}}</div>
                        </div>

                        <form method="POST" action="/interaction/{{uid}}/login" >
                            <div class="mb-4">
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="Full Name">
                            </div>
                            <div class="mb-4">
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="Email">
                            </div>
                            <div class="mb-4">
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                    id="password" type="password" placeholder="Password">
                            </div>
                            <div class="mb-6">
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                                    id="password" type="password" placeholder="Confirm Password">
                            </div>
                            <div class="flex items-center justify-between w-full">
                                <button
                                    class="bg-orange-500 appearance-none shadow w-full hover:bg-orange-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="button">
                                    Register
                                </button>
                            </div>
                        </form>

                        <div class="my-6 text-xs font-bold text-center text-gray-500">OR</div>

                        <div class="mb-6 pb-6 border-b border-gray-200">
                            <button class="w-full mb-3 shadow p-3 rounded appearance-none" type="button" color="white">
                                <div class="flex items-center">
                                    <img src="/assets/images/logos/google.svg" class="btn-logo mr-3" />
                                    <div class="flex-grow text-gray-600">Signin with Google</div>
                                </div>
                            </button>
                        </div>
                        <div class="text-center flex items-center justify-center">
                            <a class="text-blue-700 text-sm" href="/login">Already have account?</a>
                        </div>
                    </div>
                </div>
                <div class="footer text-center w-full">
                    <div class="text-gray-600 text-sm">power by <i class="font-bold">rushlab.dev</i></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        barba.init({
        })
    </script>
</body>

</html>