<app-page-header [title]="'Projects' | translate">
    <ng-container option>
        <a class="ml-2 flex items-center px-8 py-3 rounded-full bg-gray-100 text-gray-600 border-dashed border border-gray-400" [routerLink]="createLink()">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            <span class="ml-2 hidden md:flex">{{ 'Create' | translate }}</span>
        </a>
    </ng-container>
</app-page-header>
<div pageBody>
    <app-infinite-list url="/projects">
        <ng-template let-items="items">
            <app-project-item [item]="item" *ngFor="let item of items"></app-project-item>
            <!-- <app-list-create-item></app-list-create-item> -->
        </ng-template>
    </app-infinite-list>
</div>