<app-page-header [title]="'Applications' | translate">
    <ng-container action>
        <a btnPrimary class="ml-2" [routerLink]="createLink()">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            <span class="ml-2 hidden md:flex">{{ 'Create' | translate }}</span>
        </a>
    </ng-container>
</app-page-header>
<div pageBody>
    <app-infinite-list url="/applications">
        <ng-template let-items="items">
            <app-list-item [item]="item" *ngFor="let item of items"></app-list-item>
        </ng-template>
    </app-infinite-list>
</div>