.sidebar-nav {
    @apply flex items-center justify-between flex-wrap;
    height: var(--navbar-height);
    .logo {
        @apply px-12 h-full border-b flex items-center;
        height: var(--navbar-height);
        img {
            width: 100%;
            height: auto;
        }
    }
}
