<div class="sidebar-nav">
    <div class="flex items-center justify-center text-2xl">
        <div class="logo"><img src="assets/images/rush-authen-full-logo.png"></div>
    </div>
</div>
<div class="py-4">
    <mat-accordion>
        <ng-container *ngFor="let item of menu">
            <div *ngIf="item.permission; else elseMenuItem" [appPermission]="item.permission" permissionType="view">
                <ng-container [ngTemplateOutlet]="menuItem" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
            <ng-template #elseMenuItem>
                <ng-container [ngTemplateOutletContext]="{item: item}" [ngTemplateOutlet]="menuItem">
                </ng-container>
            </ng-template>
        </ng-container>
    </mat-accordion>

    <ng-template #menuItem let-item="item">
        <app-sidebar-item [item]="item"></app-sidebar-item>
    </ng-template>
</div>