<ng-template [ngIf]="mobile">
    <button [matMenuTriggerFor]="responsiveMenu"
        class="h-full flex items-center text-gray-500 p-5 text-md hover:text-gray-700 hover:bg-gray-200 sm:hidden md:hidden lg:hidden xl:hidden">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
    </button>
    <mat-menu class="flex flex-col sm:hidden md:hidden lg:hidden xl:hidden" #responsiveMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="languageMenu">
            <span *ngIf="currentLanguage" class="flag-icon flag-icon-{{currentLanguage?.icon}}"></span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="profileMenu">
            {{profile?.firstName}}
        </button>
    </mat-menu>
</ng-template>
<ng-template [ngIf]="!mobile">
    <button appNavbarMenuItem class="flex items-center" [matMenuTriggerFor]="languageMenu">
        <div class="mr-2" *ngIf="currentLanguage">
            <span class="flag-icon flag-icon-{{currentLanguage?.icon}}"></span>
        </div>
        <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
    </button>
    <button appNavbarMenuItem class="flex items-center" [matMenuTriggerFor]="profileMenu">
        <div class="mr-2">{{profile?.firstName}}</div>
        <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
    </button>
</ng-template>

<mat-menu #languageMenu="matMenu">
    <app-navbar-language [currentLanguage]="currentLanguage" [languages]="languages"
        (onLanguageChange)="onLanguageChange($event)"></app-navbar-language>
</mat-menu>
<mat-menu #profileMenu="matMenu">
    <app-navbar-profile></app-navbar-profile>
</mat-menu>