<nav class="navbar">
    <div class="max-w-7xl w-full container mx-auto px-2 sm:px-4 lg:px-4">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <button
                    class="h-full flex items-center text-gray-500 py-5 text-2xl hover:text-white mr-5"
                    (click)="toggleSidebar()" id="btn-navbar-toggle">
                    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
                </button>
                <div class="flex items-center" *ngIf="menu != 'project'">
                    <!-- <div class="h-6 border-l border-opacity-25 border-white mx-6"></div> -->
                    <div class="text-2xl text-white">{{title}}</div>
                </div>
                <div class="flex items-center" *ngIf="menu == 'project'">
                    <!-- <div class="h-6 border-l border-opacity-25 border-white mx-6"></div> -->
                    <app-project-selector [valueLabel]="'name'" class="w-48" [noMargin]="true"
                        [placeholder]="'PROJECT' | translate" url="/projects" [query]="{'page': 1}"
                        [formControl]="project" [disabled]="false" [valueId]="'id'">
                    </app-project-selector>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="relative">
                    <input class="ml-2 flex items-center px-8 py-3 rounded-full bg-gray-500 bg-opacity-25 text-gray-600"
                        placeholder="Search">
                    <div class="absolute top-0 right-0 h-full flex items-center px-8">
                        <fa-icon class="text-lg text-gray-500" [icon]="['fas', 'search']"></fa-icon>
                    </div>
                </div>
                <button class="menu-item" aria-label="Notifications">
                    <fa-icon class="icon" [icon]="['far', 'bell']"></fa-icon>
                </button>
                <a routerLink="/setting" class="menu-item" aria-label="Setting">
                    <fa-icon class="icon" [icon]="['fas', 'sliders-h']"></fa-icon>
                </a>
                <button class="menu-item" [matMenuTriggerFor]="languageMenu">
                    <span class="h-6 w-6 rounded-full overflow-hidden flag-icon flag-icon-gb"></span>
                </button>
                <button class="menu-item"  [matMenuTriggerFor]="profileMenu">
                    <img class="h-8 w-8 rounded-full"
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="">
                </button>
            </div>
        </div>
    </div>
</nav>
<mat-menu #profileMenu="matMenu" xPosition="before">
    <div class="py-1">
        <a href="#"
            class="dropdown-item"
            role="menuitem">Edit</a>
        <a href="#"
            class="dropdown-item"
            role="menuitem">Duplicate</a>
    </div>
    <div class="border-t border-gray-100"></div>
    <div class="py-1">
        <a href="#"
            class="dropdown-item"
            role="menuitem">Archive</a>
        <a href="#"
            class="dropdown-item"
            role="menuitem">Move</a>
    </div>
</mat-menu>
<mat-menu #languageMenu="matMenu" xPosition="before">
    <div class="py-1">
        <a href="#"
            class="dropdown-item"
            role="menuitem"><span class="mr-2 flag-icon flag-icon-gb"></span>
            English</a>
        <a href="#"
            class="dropdown-item"
            role="menuitem"><span class="mr-2 flag-icon flag-icon-th"></span>
            ไทย</a>
    </div>
</mat-menu>
<div class="navigation navbar-tab" *ngIf="menu == 'project'">
    <div class="max-w-7xl w-full container mx-auto px-2 sm:px-4 lg:px-4">
        <mat-tab-group [selectedIndex]="selectedTab" disableRipple animationDuration="0ms"
            (selectedTabChange)="selectedTabChange($event)">
            <mat-tab label="stats">
                <ng-template mat-tab-label>
                    <span>Stats</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="users">
                <ng-template mat-tab-label>
                    <span>Users</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="roles">
                <ng-template mat-tab-label>
                    <span>Roles</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="clients">
                <ng-template mat-tab-label>
                    <span>Clients</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="setting">
                <ng-template mat-tab-label>
                    <span>Setting</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="navigation navbar-tab" *ngIf="menu == 'setting'">
    <div class="max-w-7xl w-full container mx-auto px-2 sm:px-4 lg:px-4">
        <mat-tab-group [selectedIndex]="selectedSettingTab" disableRipple animationDuration="0ms"
            (selectedTabChange)="selectedSettingTabChange($event)">
            <mat-tab label="site">
                <ng-template mat-tab-label>
                    <span>Site Setting</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="providers">
                <ng-template mat-tab-label>
                    <span>OAuth Providers</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="templates">
                <ng-template mat-tab-label>
                    <span>Templates</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="navigation navbar-tab" *ngIf="menu == 'main'">
    <div class="max-w-7xl w-full container mx-auto px-2 sm:px-4 lg:px-4">
        <mat-tab-group [selectedIndex]="selectedMainTab" disableRipple animationDuration="0ms"
            (selectedTabChange)="selectedMainTabChange($event)">
            <mat-tab label="dashboard">
                <ng-template mat-tab-label>
                    <span>Dashboard</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="projects">
                <ng-template mat-tab-label>
                    <span>Projects</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="setting">
                <ng-template mat-tab-label>
                    <span>Setting</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>