.navbar {
    height: var(--navbar-height);
    background-color: var(--toolbar-background);
    @apply flex items-center;

    .menu-item {
        @apply p-1 ml-1 border-2 border-transparent text-gray-400 rounded-full transition duration-150 ease-in-out flex items-center justify-center;
        min-width: 40px;
        height: 40px;

        .icon {
            @apply text-lg;
        }

        &:hover {
            @apply text-white;
        }

        &:focus {
            @apply text-white bg-gray-700;
        }
    }
}

.navigation {
    height: var(--nagivation-height);
    background-color: var(--nagivation-background);
    @apply flex items-center shadow;
}
