<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body>
    {{{ content }}}
    <script>
        barba.init({
        })
    </script>
</body>

</html>