:root {
    --navigation-background: #1a202e;
    --toolbar-background: #232b3e;


    --navbar-height: 100px;
    // --navbar-height: 60px;
    --navigation-height: 60px;

    --input-height: 44px;

    --sidebar-width: 250px;
    --sidebar-menu-height: 46px;
}