<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div [appLoader]="isLoading">
        <app-form-container [border]="false">
            <ng-container detail>
                <div class="block text-gray-600 text-sm font-bold mb-1">Password</div>
                <div class="text-sm text-gray-500">Allow users to sign up using their email / username and password.</div>
            </ng-container>
            <ng-container item>
                <div class="py-4">
                    <app-toggle formControlName="isEnabled" [disabled]="disabled" [label]="'Enable'">
                    </app-toggle>
                </div>
            </ng-container>
        </app-form-container>

        <app-form-container>
            <ng-container detail>
                <div class="block text-gray-600 text-sm font-bold mb-1">Passwordless</div>
                <div class="text-sm text-gray-500">Allow Email link method (passwordless sign-in)</div>
            </ng-container>
            <ng-container item>
                <div class="py-4">
                    <app-toggle formControlName="isPasswordlessEnabled" [disabled]="disabled" [label]="'Enable Magic Link'">
                    </app-toggle>
                </div>
            </ng-container>
        </app-form-container>

        <app-form-container *ngIf="!disabled && form.dirty">
            <ng-container item>
                <div class="flex">
                    <button btnPrimary class="mr-2" type="submit">Save Changes</button>
                    <button btnSecondary type="button" (click)="onReset()">Cancel</button>
                </div>
            </ng-container>
        </app-form-container>
    </div>
</form>