<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div [appLoader]="isLoading">
        <div appCardForm>
            <app-form-container [border]="false">
                <ng-container item>
                    <app-input [label]="'Name'" formControlName="name" [disabled]="disabled" [required]="true"
                        [touched]="form.touched">
                    </app-input>
                    <app-input [label]="'Description'" formControlName="description" [disabled]="disabled"
                        [required]="true" [touched]="form.touched">
                    </app-input>
                </ng-container>
            </app-form-container>

            <app-form-container *ngIf="!isCreateMode">
                <ng-container detail>
                    <div class="block text-gray-600 text-sm font-bold mb-1">Credentials</div>
                    <div class="text-sm text-gray-500">Client ID & Client Secret for your app used, <a href="#">How to
                            use?</a></div>
                </ng-container>
                <ng-container item>
                    <app-input [label]="'Client ID'" formControlName="clientId" [disabled]="disabled" [required]="true"
                        [touched]="form.touched">
                    </app-input>

                    <app-input [label]="'Client Secret'" formControlName="clientSecret" [disabled]="disabled"
                        [required]="true" [touched]="form.touched">
                    </app-input>
                </ng-container>
            </app-form-container>
            <app-form-container *ngIf="!disabled">
                <ng-container item>
                    <div class="flex">
                        <button btnPrimary class="mr-2" type="submit">Save Changes</button>
                        <button btnSecondary type="button">Cancel</button>
                    </div>
                </ng-container>
            </app-form-container>
        </div>
    </div>
</form>